name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"
      - run: dotnet publish -r win-x64 -c Release --self-contained true -p:PublishSingleFile=true -p:PublishReadyToRun=true
      - uses: actions/upload-artifact@v4
        with:
          name: aim
          path: bin/Release/net10.0-windows/win-x64/publish/
